/* обнуление ститей */
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none
}

a:focus,
a:active {
   outline: none
}

nav,
footer,
header,
aside {
   display: block
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* обнуление ститей */







.wrapper {
   min-width: 1440px;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   width: 1440px;
   margin: 0 auto;
}

.content {
   flex: 1 1 auto;
}





.suptitle {
   font-family: 'Montserrat';
   font-size: 11px;
   color: #009CC4;
   line-height: 16px;
   letter-spacing: 1.2px;
   text-transform: uppercase;
   margin: 0 0 14px 0;
}

.title {
   font-family: 'Unna';
   font-size: 52px;
   color: #313335;
   line-height: 48.94px;
   margin: 0 0 38px 0;
}

.text {
   font-family: 'PT Serif';
   font-size: 14px;
   color: #808080;
   line-height: 22px;
   padding: 0 0 50px 0;
}

.btn {
   font-family: 'Montserrat';
   font-size: 12px;
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 3px;
   text-transform: uppercase;
   text-align: center;
   padding: 19px 15px;
   color: #009CC4;

   width: 156px;
   border: 2px solid #009CC4;
   transition: all .6s ease-in;
}

.btn:hover {
   background: #009CC4;
   color: #fff;
   cursor: pointer;
}







.header {
   font-family: 'Montserrat';
   font-weight: 500;
   background: #fff;
   height: 134px;
}

.header__row {
   padding: 13px 56px;
   display: flex;
   justify-content: space-between;
}

.header__img {
   width: 133px;
   height: 108px;
}



/**********стили навигации в header**********/
.header__row nav {
   display: flex;
}

.header__row nav a {
   display: inline-block;
   font-size: 16px;
   line-height: 22.4px;
   letter-spacing: 0.85px;
   text-transform: uppercase;
   margin: 50px 18px;
   color: #4d4d44;
   transition: all .5s linear;
}

/* стили для кнопок навигации в header при наведении */
.header__row nav a:hover {
   color: #009CC4;
   transform: scale(1.1);
   -webkit-text-stroke: 1px #009CC4;
   text-shadow: 1px 3px 5px #044758;
}

/* стили для кнопки навигации в header, страница которой включена */
.header__row nav a:first-child {
   font-size: 18px;
   color: #009CC4;
   -webkit-text-stroke: 1px #009CC4;
   text-shadow: 1px 3px 10px #044758;
}

/* для навигации header и footer */
nav a:hover:first-child {
   transform: none;
   cursor: default;
}







.special {
   height: 661px;
   background: url('../images/fon1.png')center no-repeat;
}

.special__row {
   padding: 171px 69px 243px 729px;
}

.special__title {
   font-family: 'Unna';
   font-size: 62px;
   line-height: 74px;
   color: #fff;

   -webkit-text-stroke: 1px #000000;
}

.special__subtitle {
   font-family: 'PT Serif';
   font-size: 36px;
   line-height: 59px;
   color: #fff;
   margin: 42px 0;
}




.welcome {
   height: 712px;
}

.welcome__row {
   display: flex;
   justify-content: space-between;
   padding: 128px 205px 128px 217px;
}

.welcome__info {
   margin: 0 70px 0 0;
}

.welcome__img {
   width: 485px;
   height: 401px;
   margin: 0 0 55px 70px;
}

.welcome__items {
   display: flex;
}

.welcome__btn {
   width: 197px;
}

.welcome__item {
   display: block;
   width: 10px;
   height: 66px;
   background: #009CC4;
   margin: 0 42px 0 0;
}






.statistics {
   height: 367px;
}

.item__column {
   padding: 75px 60px;

}

.statistics__item {
   display: flex;
   justify-content: space-between;
}

.item__column {
   flex: 1 1 auto;
}

.item__column:nth-child(odd) {
   background: #F3F0E9;
}

.item__row {
   display: flex;
   font-family: 'Unna';

}

.item__num {
   font-size: 62px;
   line-height: 63px;
   color: #009CC4;
}

.item__title {
   font-size: 28px;
   line-height: 32px;
   color: #313335;
   padding: 5px 40px 35px 85px;
}

.item__text {
   font-family: 'PT Serif';
   font-size: 14px;
   line-height: 22px;
   color: #808080;
}






.leaders {
   height: 500px;
}

.leaders__row {
   display: flex;
   justify-content: space-between;
   margin: 100px 290px 0 217px;

}

.leaders__column1 {
   margin: 0 80px 0 0;
   flex: 0 1 450px;
}

.leaders__column2 {
   margin: 5px 0 0 60px;
   align-items: center;
}

.column2__items {
   display: flex;
}

.column2__img {
   width: 80px;
   height: 80px;
   margin: 0 43px 42px 0;
}

.column2__img:last-child {
   margin: 0;
}

.column2__text {
   font-family: 'Unna';
   font-size: 26px;
   line-height: 32px;
   align-items: center;
   color: #313335;
}

.column2__text:first-child {
   text-transform: uppercase;
}




.diversity {
   height: 550px;
}

.diversity__row {
   background: #F3F0E9;

   padding: 62px 177px;
   text-align: center;
}

.diversity__suptitle {
   padding: 0 0 17px 0;
}

.diversity__title {
   font-size: 53px;
   line-height: 59px;
}

.diversity__text {
   font-size: 26px;
   line-height: 41px;
   letter-spacing: 1px;
}

.diversity__btn {
   align-self: center;
   color: #4d4d4d;
   background: #fff;
   border: 2px solid #4d4d4d;
   transition: all .5s ease-in;
}

.diversity__btn:hover {
   background: #4d4d4d;
   color: #fff;
   cursor: pointer;

}






.end {
   height: 337px;
}

.end__block {
   background-color: #39363D;
   padding: 80px 164px;
   font-family: 'Unna';
   text-transform: uppercase;
   font-size: 18px;
   line-height: 41px;

}

.end__row {
   display: flex;
   justify-content: space-between;
   margin: 0 0 30px 0;
}

.end__img {
   width: 81px;
   height: 66px;
}

.end__row nav a {
   color: #fff;
   padding: 0 0 0 50px;
}

.end__row nav a:first-child {
   font-weight: normal;
}

.end__row2 {
   color: #f2f2f2;
   text-align: center;
}

.row__c {
   padding: 0 16px;
   border-right: 1px solid #fff;
}

.row__c:last-child {
   border: none;
}










.footer {
   height: 65px;
}

.footer__row {
   padding: 12px 164px;
   background-color: #181818;
   color: #fff;
   font-family: 'Unna';
   font-size: 16px;
   line-height: 41px;

   display: flex;
   justify-content: space-between;
}